*{
    font-family: 'Single Day', cursive;
}

body{
    margin:0;
    background-color:wheat;
}

header{
    text-align: center;
    font-size: 50px;
}

.homebtn{
    height: 60px;
    width: 60px;
    float: left;
}

#loginBtn {
    width: 90px;
    height: 60px;
    font-size:20px;
    border-radius: 15px;
    background-color:yellowgreen; 
}

.movieContainer{
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 300px 0.5fr 3fr;
    grid-gap: 50px;
    position: relative;
}

#buttonToggle{
    position: absolute; bottom: -30px; right: 5px;
}

.moviePoster > img{
    border-radius: 10px;
}

.cols{
    text-align: center;
    font-size: 30px;
}

.movieInfo{
    font-size: 30px;
}


/* review 박스 내부 */
.reviewContainer{
    border-top: 1px dotted;
    margin-top: 50px;
    position: relative;
}

.postReview{
    position: absolute; left: 40%;
    margin-top: 30px;
}

.postReview > button{
    position: absolute; bottom: 10px; right: -50px;
    background-color: black;
    color: whitesmoke;
}

#reviewUser{
    margin-bottom: 15px;
    margin-right: 20px;
}

#reviewContent{
    width: 310px;
    height: 150px;
}

.reviewList{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
    list-style: none; /* ul 의 점을 없애주는 역할 */
    margin-top: 260px;
    border-top: 1px dotted;
    padding-top: 30px;
}

.review_card{
    position: relative;
    margin-right: 30px;
    border-radius: 8px;
    border-style: groove;
    border-color:black;
    transition: all 0.3s cubic-bezier(0.42, 0.0, 0.58, 1.0);
    background-color: cornflowerblue;
}

.review_card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-10px);
}

#updateButton{
    position: absolute; top:5px; right:27px;
    background-color: green;
    color:whitesmoke;
}

#deleteButton{
    position: absolute; top:5px; right :2px;
    background-color:crimson;
    color:whitesmoke;
}

.review{
    width:200px;
    height:280px;
    word-break: break-all;
    line-height: 2.5;
    overflow:scroll;
    text-overflow: ellipsis;
}

.review > h4 {
    margin-top: 30px;
    background-color: whitesmoke;
    text-align: center;
}

