*{
    font-family: 'Single Day', cursive;
}

body{
    margin:0;
    background-color:wheat;
}

header{
    text-align: center;
    font-size: 50px;
    margin: 0px 160px;
}

.homebtn{
    height: 90px;
    width: 90px;
    float: left;
}

.movieContainer{
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 300px 0.5fr 3fr;
    grid-gap: 50px;
}

.moviePoster > img{
    border-radius: 10px;
}

.cols{
    text-align: center;
    font-size: 30px;
}

.movieInfo{
    font-size: 30px;
}
/* review 박스 내부 */
.reviewContainer{
    border-top: 1px dotted;
    margin-top: 50px;
    text-align: center;
}

.reviewList{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    list-style: none; /* ul 의 점을 없애주는 역할 */
}

.review_card{
    position: relative;
}

#updateButton{
    position: absolute; top:1px; right:25px;
}

#deleteButton{
    position: absolute; top:1px; right :1px;
}

.review{
    width:200px;
    height:240px;
    word-break: break-all;
    line-height: 2.5;
    overflow:scroll;
    text-overflow: ellipsis;
}

