*{
    font-family: 'Single Day', cursive;
}

html,body{
    margin:0;
    background-color:wheat;
}

.header{
    text-align: center;
    background-color: cornflowerblue;
    margin-bottom: 50px;
}
.header > h1 {
    font-size: 100px;
}

label{
    font-size: 30px;
    margin-right: 10px;
}

#findMovieInput{
    width: 150px;
    height: 40px;
    font-size: 15;
}

#buttonFind {
    margin-bottom: 50px;
}
