*{
    font-family: 'Single Day', cursive;
}

html,body{
    margin:0;
    background-color:wheat;
}

.header{
    text-align: center;
    background-color: cornflowerblue;
    margin-top: 0;
    margin-bottom: 50px;
}
.header > h1 {
    font-size: 100px;
    /* 오준석 수정  */
    margin: 0;
    padding: 0;
}

label{
    font-size: 30px;
    margin-right: 10px;
}

#findMovieInput{
    width: 120px;
    height: 35px;
    font-size: 15px;
}

#selector{
    width: 80px;
    height: 40px;
    font-size:20px
}

#buttonFind {
    margin-bottom: 50px;
    border-radius: 5px;
    background-color:darksalmon; 
}
