body {
  background-color: #29275a;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
  transition: 0.25s all ease;
}

.login-container {
  display: block;
  position: relative;
  z-index: 0;
  margin: 4rem auto 0;
  padding: 5rem 4rem 0 4rem;
  width: 100%;
  max-width: 525px;
  min-height: 680px;
}

.form-login {
  position: relative;
  z-index: 1;
  padding-bottom: 4.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.login-nav {
  position: relative;
  padding: 0;
  margin: 0 0 4em 1rem;
}

.login-nav__item {
  list-style: none;
  display: inline-block;
}

.login-nav__item + .login-nav__item {
  margin-left: 2.25rem;
}

.login-nav__item a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  transition: 0.2s all ease;
}

.login__label {
  display: block;
  padding-left: 1rem;
}

.login__label,
.login__label--checkbox {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.login__label--checkbox {
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #ffffff;
  font-size: 0.75rem;
}

.login__input {
  color: white;
  font-size: 1.15rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  outline: none;
  background-color: rgba(255, 255, 255, 0.25);
  letter-spacing: 1px;
}

.login__input:hover,
.login__input:focus {
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.login__input + .login__label {
  margin-top: 1.5rem;
}

.login__input--checkbox {
  position: absolute;
  top: 0.1rem;
  left: 0;
  margin: 0;
}

.login__submit {
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1rem;
  padding: 0.75rem;
  display: block;
  width: 100%;
  background-color: rgba(17, 97, 237, 0.75);
  border: none;
  cursor: pointer;
}

.login__submit:hover {
  background-color: rgba(17, 97, 237, 1);
}
